<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Profil de <%= @user.email %></h2>

          <h3 class="mt-4">Historique achat <%= @user.email %></h3>
          <ul>
            <% @cart_items.each do |item| %>
              <li><%= link_to event.title, event_path(event) %></li>
            <% end %>
          </ul>

          <% if current_user == @user %>
            <%= link_to "Modifier le profil", edit_user_registration_path, class: "btn btn-primary" %>
          <% end %>

          <div class="mt-4">
            <h3>Avatar actuel</h3>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, alt: 'avatar', class: "img-fluid rounded" %>
            <% else %>
              <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
            <% end %>

            <h3 class="mt-3">Changer d'avatar ?</h3>
            <%= form_tag user_avatars_path(@user), multipart: true, class: "mt-2" do %>
              <%= file_field_tag :avatar, class: "form-control" %>
              <%= submit_tag "Mettre à jour", class: "btn btn-secondary mt-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
