<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-body text-center"> 
        <h1 class="card-title">Profil de <%= @user.email %></h1>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <p>Email: <%= @user.email %></p>
              <p>Utilisateur: <%= @user.id %></p>
            </div>
            <%=  image_tag "iconeuser.png", alt: "Description de l'image", class: "ml-3" %>
          </div>
          
          <% if current_user == @user %>
          <div class="d-flex justify-content-between">
            <%= link_to "Modifier le profil", edit_user_registration_path, class: "btn btn-primary" %>
            
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h1 class="text-center">Historique d'achat</h1>
  <div class="accordion mt-3" id="accordionExample">
    <% i = 1 %>
    <% @orders.each do |order|%>
    <% i += 1 %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%= i %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
          <%= order %>
        </button>
      </h2>
      <div id="collapse<%= i %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= i %>" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="col">
            <div class="container mt-5">
              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-3">
                    <div class="card-body">
                      
                      <p></p>
                      <p><%= order.created_at %></p>
                        <% order.items.each do |item| %>
                          <%= item.title %> <br>
                        <% end %>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card mb-3">
                    <!--
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" class="card-img-top" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                      </svg>
                    </a>
                    -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
