<div class="container mt-5">
  <div class="row"> <!--/* on divise l'ecran en 2 colonnes */-->
    <div class="col col-md-8">
      <div class="card border-primary mb-3">
        <div class="card-header">Panier</div>
        <div class="card-body">
          <h2 class="card-title">Votre panier :</h2>
          <div class="list-group">
            <div class="list-group-item">
              <div class="row justify-content-between align-items-center">
                <% @cart_items.each do |item|%>
                  <div class="col col-md-5">
                    <div class="d-flex align-items-center">
                      <div>
                        <p><%= item.image_url %></p>
                      </div>                      
                      <p><%= item.title %></p>
                    </div>
                  </div>
                  <div class="col col-md-3">
                    <div class="d-flex align-items-center">
                      <p>Quantité : 1</p>
                      <!-- 
                      <div class="btn-group-vertical mx-2">                      
                        
                        <%= button_to "+", cart_path, method: "PATCH",class:"btn btn-success btn-sm" %>
                        <%= button_to "-", cart_path, method: "PATCH",class:"btn btn-danger btn-sm" %>                      
                        
                      </div>
                      -->
                    </div>
                  </div>
                  <div class="col col-md-3">
                    <p><%= item.price %>€</p>
                  </div>
                  <div class="col col-md-1">
                    <%= button_to "x", cart_path(item), method: :delete, class:"btn btn-danger btn-sm"%>
                  </div>
                <% end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4"> 
      <div> <!--/* je créé une boite dans la colonne pour la positionner dans l'aligenement de la boite à gauche */-->
        <div class="card mb-3">
          <div class="card-body text-center">
            <h4 class="card-title">Total : <%= @total %>€</h4>          
          </div>
        </div>
        <div class="d-grid gap-2"> <!--/* ici j'ai fait button block pour élargir le bouton pour qu'il prenne la meme longeur que le boite du dessus */-->
          <button type="button" class="btn btn-lg btn-success ">Valider le panier</button> 
        </div>
      </div>
    </div>
  </div>
</div>